body {
    background-color: rgb(118, 115, 111);
    font-family: 'Josefin Slab', serif;
    margin: 0rem;
    width: 100%;
    color: rgb(255, 255, 255);

    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

header {
    grid-area: header;
    background-color: rgb(118, 115, 111);
}

#headerl {
    display: grid;
    grid-template-areas:
    "logo h1 botonwa"
    ; 
    align-items: center;
    justify-content: start;
    grid-template-columns: 10% 70% 20%;

    max-width: 1320px;
    margin: auto;
}

#logo {
    grid-area: logo;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    overflow: hidden;
}

h1 {
    grid-area: h1;
}

#botonwa {
    grid-area: botonwa;
    justify-self: right;
    margin-right: 1rem;
}



#wa {
    
    width: 5rem;
    height: 5rem;
    overflow: visible; 
}

.navbar-brand {
    margin-right: 3rem !important;
    color: white;
}

.navbar {
    background-color: rgb(203, 126, 193);
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}

.nav-link {
    color: white;
}

.collapse {
    justify-content: flex-end
}

.active {
    font-weight: bold;
    color: white;
}

main{

    margin: 1rem;
    background-color: rgb(235,131,221)
    grid-area: main;
    
}


h2 {
    margin: 2rem;
    padding: 0;
    text-align: center;
    }

p {
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    font-style: italic;
    font-weight:200;
    text-align:justify;
    justify-content: center;
}

.row{
    align-items: center;
}

.multimedia {
    width: 100%; 
    height: 100%;
 
}

footer {
    
    background-image: "img/wave.svg";
    grid-area: footer;
    width: 100%;
    max-width: 1320px;
    margin: auto;    
}

footer p {
    font-size: 1.6em;
    font-style: normal;
    padding-top: 2rem;

   
}


.pintro {
    margin: 2em;
    text-align: center;
}

.flecha {
    padding: 0px;
    margin: 0px;
    width: 20px;
    height: 370px;
    position: relative;
    top: 110px;
    left: 9px;
}

.elemento5 {
    padding: 0px;
    margin: 0px;
    
}
.elemento6 {
    padding: 0px;
    margin: 0px;
}

#wa1 {
    
    width: 8%;
    height: 8%;
    position: relative;
    margin-left: 46%;
    z-index: 1;

}



/* MEDIA QUERIES */



